*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

#container {
   padding: 2em;
   border: 1px dotted gray;
   max-width: 50em;

   margin-left:auto;
   margin-right: auto;
   display: flex;
   flex-direction: column;
   margin-top: 10em;
   display: flex;
   flex-direction: column;
   align-items: center;


}


#input_box{
   width: 60%;
   min-height: 20em;
   margin-left: auto;
   margin-right: auto;
   border: 2px solid #dcdcdc;
   border-radius: 1em;
   padding: 0.5em;
   font-size: 1.2rem;
   /* word-wrap: break-word;
   overflow-wrap: break-word;
   white-space: pre-wrap; */

}


#input_box:focus{
   outline: none;

}

/* input::placeholder{
   vertical-align: top;
} */

#container button{

   margin-left:auto;
   margin-right: auto;
   margin-top: 2em;
   padding: 0.6em 1.4em;
   background-color: black;
   border-radius: 0.5em;
   color: white;
   font-size: 1.2rem;
   cursor: pointer;
   border: none;

}

#container button:hover{
   opacity: 0.85;
}

#user_display{
   border: 1px dotted black;
   width: 80%;
   margin-top: 1em;
   font-size: 1.2em;
}

.spam_result{
   margin-top: 1em;
}